/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
/* ========================
Estilos header
===========================*/
/*estilos desktop*/
.img-nav {
  width: 5rem;
  border-radius: 50%;
  border: solid #fff 2px; }

.principal-nav-container {
  width: 100%;
  background-color: #000;
  display: flex;
  height: 7rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2; }

.nav-container-desktop {
  width: 40%; }

.nav-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav-desktop li {
    list-style: none;
    transition: all .5s ease; }
    .nav-desktop li:hover {
      transform: scale(1.2) translateY(-5px); }
  .nav-desktop a {
    text-decoration: none;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 1.2rem; }

/*estilos mobile*/
.principal-nav-mobile {
  background-color: #000; }

.navbar {
  background-color: #000 !important; }

@media screen and (min-width: 992px) and (max-width: 1180px) {
  .nav-container-desktop {
    width: 50%; } }
@media screen and (max-width: 991px) {
  .principal-nav-container {
    display: none; } }
/* ========================
Fin Estilos header
===========================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ========================
Estilos section inicio
===========================*/
#inicio {
  width: 100%;
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/estudio.webp");
  background-size: cover;
  background-repeat: no-repeat; }

#inicio h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center; }

@media screen and (max-width: 547px) {
  #inicio {
    padding: 0rem 2rem !important; }
    #inicio h1 {
      font-size: 3rem !important; } }
/* ========================
Fin Estilos section inicio
===========================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ===============================
Estilos section quienes somos
==================================*/
#somos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 3rem; }

.somos-text {
  grid-column: 1/2; }

.somos-img {
  grid-column: 2/-1;
  margin-top: 1.3rem !important; }

.somos-title {
  color: #000;
  margin-bottom: 1.5rem !important; }

.somos-text p {
  text-align: justify; }

.somos-container-img img {
  width: 100%; }

@media screen and (max-width: 991px) {
  .somos-text {
    grid-column: 1/-1; }

  .somos-img {
    grid-column: 1/-1;
    margin-top: 1.3rem !important; }

  #somos {
    padding: 5rem 2rem !important; } }
/* ==============================
Fin Estilos section quienes somos
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ==============================
Estilos servicios
==================================*/
#servicios {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto); }

.servicios-title-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  color: #000; }

.contenedor-servicios {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.servicio-cancion {
  grid-column: 1/2; }

.servicio-video {
  grid-column: 2/3; }

.estilos-servicios {
  place-self: center;
  width: 25rem !important;
  transition: all .3s;
  cursor: pointer; }
  .estilos-servicios:hover {
    transform: scale(1.1); }

.textos-servicios {
  margin: 2rem !important;
  text-align: center; }

.textos-servicios h5 {
  margin-bottom: 1rem !important;
  color: #000; }

@media screen and (max-width: 991px) {
  .contenedor-servicios {
    gap: 3rem; }

  .servicio-cancion {
    grid-column: 1/-1; }

  .servicio-video {
    grid-column: 1/-1; }

  #servicios {
    padding: 5rem 2rem !important; } }
@media screen and (max-width: 495px) {
  .estilos-servicios {
    width: 15rem !important; } }
/* ==============================
Fin Estilos servicios
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ==============================
Estilos cta
==================================*/
#cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem !important;
  background-color: #000; }

.cta-text h5 {
  color: #fff;
  grid-column: 1/2; }

.container-cta-btn {
  grid-column: 2/-1;
  place-self: center; }

@media screen and (max-width: 678px) {
  #cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); }

  .cta-text {
    color: #fff;
    grid-column: 1/-1;
    text-align: center; }

  .container-cta-btn {
    grid-column: 1/-1;
    place-self: center !important;
    margin-top: 1.5rem !important; } }
/* ==============================
Fin Estilos cta
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ==============================
Estilos artistas
==================================*/
.artistas-title {
  text-align: center;
  color: #000; }

.artistas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }

.drake {
  grid-column: 1/2; }

.theweeknd {
  grid-column: 2/3; }

.wos {
  grid-column: 3/4; }

.card-artistas {
  place-self: center; }

.img-artistas {
  width: 20rem !important;
  transition: all .5s ease-in-out;
  cursor: pointer; }

.link-artistas {
  color: #000;
  text-decoration: none; }

.nombre-artistas {
  color: #000;
  font-weight: 700;
  cursor: pointer; }

.text-artistas {
  transition: all .2s ease-in;
  cursor: pointer;
  color: #000;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1rem !important; }
  .text-artistas:hover {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.363); }

.card-artistas {
  transition: all .5s ease;
  border: solid 1px #d4cece; }
  .card-artistas:hover {
    transform: scale(1.1); }

.contenedor-textos-artistas {
  margin: 1.2rem !important; }

@media screen and (max-width: 1200px) {
  .artistas-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }

  .drake {
    grid-column: 1/2 !important; }

  .theweeknd {
    grid-column: 2/3 !important; }

  .wos {
    grid-column: 1/-1 !important; } }
@media screen and (max-width: 819px) {
  #artistas {
    padding: 5rem 0rem !important; }

  .artistas-container {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }

  .drake {
    grid-column: 1/-1 !important; }

  .theweeknd {
    grid-column: 1/-1 !important; }

  .wos {
    grid-column: 1/-1 !important; }

  .img-artistas {
    width: 15rem !important; } }
/* ==============================
Fin Estilos artistas
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ==============================
Estilos Playlist
==================================*/
#playlist {
  background-color: #f2f2f2; }

.playlist-title-container h2 {
  color: #000;
  text-align: center; }

.playlist-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem; }

.playlist-drake, .playlist-theweeknd, .playlist-wos {
  place-self: center; }
  .playlist-drake iframe, .playlist-theweeknd iframe, .playlist-wos iframe {
    width: 300px;
    height: 400px; }

.card-playlist {
  border-radius: 20px 0px 20px 0px !important; }

@media screen and (max-width: 1200px) {
  .playlist-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem; }

  .playlist-drake {
    grid-column: 1/2 !important; }

  .playlist-theweeknd {
    grid-column: 2/3 !important; }

  .playlist-wos {
    grid-column: 1/-1 !important;
    place-self: center; } }
@media screen and (max-width: 819px) {
  #playlist {
    padding: 5rem 2rem !important; }

  .playlist-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem; }

  .playlist-drake {
    grid-column: 1/-1 !important;
    place-self: center; }
    .playlist-drake iframe {
      width: 200px !important;
      height: 300px !important; }

  .playlist-theweeknd {
    grid-column: 1/-1 !important;
    place-self: center; }
    .playlist-theweeknd iframe {
      width: 200px !important;
      height: 300px !important; }

  .playlist-wos {
    grid-column: 1/-1 !important;
    place-self: center; }
    .playlist-wos iframe {
      width: 200px !important;
      height: 300px !important; } }
/* ==============================
Fin Estilos playlist
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ==============================
Estilos footer
==================================*/
#footer {
  padding: 7rem 5rem 1rem 5rem !important;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; }

.menu-footer {
  place-self: center; }

.navbar-footer {
  place-self: center; }
  .navbar-footer li {
    list-style: none;
    transition: all .5s ease; }
    .navbar-footer li:hover {
      transform: translateX(20px); }
    .navbar-footer li a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem; }

.logo-footer {
  place-self: center; }
  .logo-footer img {
    width: 10rem;
    border: solid 1px #fff;
    border-radius: 50%;
    transition: all .5s ease; }
    .logo-footer img:hover {
      transform: rotate(360deg); }

.social-media-footer {
  place-self: center; }
  .social-media-footer p {
    text-align: center;
    color: #fff; }

.social-media-container {
  margin: auto !important;
  width: 50% !important;
  display: flex;
  justify-content: space-around; }
  .social-media-container img {
    width: 2rem !important;
    transition: all .5s ease; }
    .social-media-container img:hover {
      transform: scale(1.2); }

.personal-information {
  grid-column: 1/-1;
  border-top: solid 1px #fff; }
  .personal-information p {
    padding: 1rem !important;
    text-align: center;
    color: #fff; }
    .personal-information p a {
      text-decoration: none;
      color: #fff;
      font-weight: 700; }

@media screen and (max-width: 916px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }

  .menu-footer {
    grid-column: 1/2; }

  .logo-footer {
    grid-column: 2/3; }

  .social-media-footer {
    grid-column: 1/-1;
    margin-top: 2rem !important;
    place-self: center;
    width: 450px !important; } }
@media screen and (max-width: 580px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 5rem 2rem !important; }

  .menu-footer {
    grid-column: 1/-1;
    place-self: center; }

  .logo-footer {
    grid-column: 1/-1;
    margin-top: 2rem !important;
    place-self: center; }

  .social-media-footer {
    grid-column: 1/-1;
    width: 300px !important;
    margin-top: 2rem !important;
    place-self: center; } }
/* ==============================
Fin Estilos footer
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* ==============================
Estilos formulario
==================================*/
#formulario {
  padding: 10rem 5rem 7rem 5rem !important;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }

.text-formulario {
  text-align: justify;
  grid-column: 1/2; }

.form {
  grid-column: 2/-1; }

.btn-form {
  padding: 1rem 2rem !important;
  font-size: 1.1rem !important;
  text-transform: uppercase;
  border-radius: 20px 0px 20px 0px !important;
  background-color: #000 !important;
  transition: all .5s ease !important; }
  .btn-form:hover {
    border: solid #000 3px !important;
    border-radius: 50px !important;
    color: #000 !important;
    background-color: #fff !important;
    font-weight: 700 !important; }

.input {
  padding: .5rem !important; }

@media screen and (max-width: 800px) {
  #formulario {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 5rem 2rem !important; }

  .text-formulario {
    grid-column: 1/-1; }

  .form {
    grid-column: 1/-1; } }
/* ==============================
Fin Estilos formulario
==================================*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/*estilos perfil Drake*/
.profile-drake-title-text {
  background-image: url("../multimedia/drake-image-two.webp");
  background-size: cover;
  background-attachment: fixed;
  height: 20rem !important;
  padding-left: 3rem !important;
  display: flex;
  align-items: center; }
  .profile-drake-title-text h1 {
    color: #fff; }

.profile-drake-personal-information h3 {
  margin-bottom: 3rem !important;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000; }

.profile-drake-personal-information-row-one {
  margin-bottom: 3rem !important; }
  .profile-drake-personal-information-row-one .drake-personal-information-row-one-text {
    grid-column: 1/2; }
    .profile-drake-personal-information-row-one .drake-personal-information-row-one-text p {
      text-align: justify; }
  .profile-drake-personal-information-row-one .drake-personal-information-row-one-img {
    grid-column: 2/3; }

.drake-profile-img-one, .drake-profile-img-two {
  width: 35rem; }

.profile-drake-personal-information-row-two .drake-personal-information-row-two-img {
  grid-column: 1/2; }
.profile-drake-personal-information-row-two .drake-personal-information-row-two-text {
  grid-column: 2/3; }
  .profile-drake-personal-information-row-two .drake-personal-information-row-two-text p {
    text-align: justify; }

/*estilos mobile Drake*/
@media screen and (max-width: 995px) {
  .profile-drake-personal-information {
    padding: 50px 30px !important; }

  .profile-drake-title-text {
    background-image: url("../multimedia/drake-image-two.webp");
    background-size: cover;
    background-attachment: none;
    height: 20rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: center; }
    .profile-drake-title-text h1 {
      color: #fff; }

  .drake-profile-img-one, .drake-profile-img-two {
    width: 80vw;
    display: flex;
    justify-content: center; }

  .profile-drake-personal-information h3 {
    text-align: center;
    color: #000; }

  .drake-personal-information-row-one-text {
    grid-column: 1/-1 !important; }

  .drake-personal-information-row-one-img {
    grid-column: 1/-1 !important;
    display: flex;
    justify-content: center; }

  .drake-personal-information-row-one-text {
    grid-column: 1/-1 !important; }

  .drake-personal-information-row-two-img {
    grid-column: 1/-1 !important;
    display: flex;
    justify-content: center;
    order: 2; }

  .drake-personal-information-row-two-text {
    grid-column: 1/-1 !important;
    order: 1; } }
/*fin estilos perfil Drake*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/*estilos perfil The weeknd*/
.profile-theweeknd-title-text {
  background-image: url("../multimedia/the-weeknd-portada.webp");
  background-size: cover;
  background-attachment: fixed;
  height: 20rem !important;
  padding-left: 3rem !important;
  display: flex;
  align-items: center; }
  .profile-theweeknd-title-text h1 {
    color: #fff; }

.profile-theweeknd-personal-information h3 {
  margin-bottom: 3rem !important;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000; }

.profile-theweeknd-personal-information-row-one {
  margin-bottom: 3rem !important; }
  .profile-theweeknd-personal-information-row-one .theweeknd-personal-information-row-one-text {
    grid-column: 1/2; }
    .profile-theweeknd-personal-information-row-one .theweeknd-personal-information-row-one-text p {
      text-align: justify; }
  .profile-theweeknd-personal-information-row-one .theweeknd-personal-information-row-one-img {
    grid-column: 2/3; }

.theweeknd-profile-img-one, .theweeknd-profile-img-two {
  width: 35rem; }

.profile-theweeknd-personal-information-row-two .theweeknd-personal-information-row-two-img {
  grid-column: 1/2; }
.profile-theweeknd-personal-information-row-two .theweeknd-personal-information-row-two-text {
  grid-column: 2/3; }
  .profile-theweeknd-personal-information-row-two .theweeknd-personal-information-row-two-text p {
    text-align: justify; }

/*estilos mobile theweeknd*/
@media screen and (max-width: 995px) {
  .profile-theweeknd-personal-information {
    padding: 5rem 3rem !important; }

  .profile-theweeknd-title-text {
    background-image: url("../multimedia/the-weeknd-portada.webp");
    background-size: cover;
    background-attachment: none;
    height: 20rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: center; }
    .profile-theweeknd-title-text h1 {
      color: #fff; }

  .theweeknd-profile-img-one, .theweeknd-profile-img-two {
    width: 80vw;
    display: flex;
    justify-content: center; }

  .profile-theweeknd-personal-information h3 {
    text-align: center;
    color: #000; }

  .theweeknd-personal-information-row-one-text {
    grid-column: 1/-1 !important; }

  .theweeknd-personal-information-row-one-img {
    grid-column: 1/-1 !important;
    display: flex;
    justify-content: center; }

  .theweeknd-personal-information-row-two-img {
    grid-column: 1/-1 !important;
    display: flex;
    justify-content: center;
    order: 2; }

  .theweeknd-personal-information-row-two-text {
    grid-column: 1/-1 !important;
    order: 1; } }
/*fin estilos perfil theweeknd*/
/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/* estilos generales */
* {
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important; }

body {
  font-family: 'Roboto Condensed', sans-serif !important; }
  body ::selection {
    color: #000;
    background-color: #d61919d5; }

h1 {
  font-size: 5rem !important; }

h2 {
  font-size: 3.5rem !important; }

h3 {
  font-size: 3rem !important; }

h4 {
  font-size: 2.5rem !important; }

h5 {
  font-size: 2rem !important; }

h6 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.25rem !important; }

/* fin estilos generales */
.cta-btn, .somos-container-img img, .img-artistas, .card-artistas, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  border-radius: 20px 0px 20px 0px; }

.somos-container-img img, .estilos-servicios:hover, .card-artistas:hover, .drake-profile-img-one, .drake-profile-img-two, .theweeknd-profile-img-one, .theweeknd-profile-img-two, .wos-profile-img-one, .wos-profile-img-two {
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3); }

.cta-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  border: solid #fff 3px; }

.cta-btn {
  text-decoration: none;
  background-color: #fff;
  padding: 1rem !important;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: all .5s ease; }

#somos, #servicios, #artistas, #playlist, .profile-drake-personal-information, .profile-theweeknd-personal-information, .profile-wos-personal-information {
  padding: 7rem 5rem !important; }

.profile-drake-personal-information-row-one, .profile-drake-personal-information-row-two, .profile-theweeknd-personal-information-row-one, .profile-theweeknd-personal-information-row-two, .profile-wos-personal-information-row-one, .profile-wos-personal-information-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem !important; }

/*estilos perfil wos*/
.profile-wos-title-text {
  background-image: url("../multimedia/wos-portada.webp");
  background-size: cover;
  background-attachment: fixed;
  height: 20rem !important;
  padding-left: 3rem !important;
  display: flex;
  align-items: center; }
  .profile-wos-title-text h1 {
    color: #fff; }

.profile-wos-personal-information h3 {
  margin-bottom: 3rem !important;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000; }

.profile-wos-personal-information-row-one {
  margin-bottom: 3rem !important; }
  .profile-wos-personal-information-row-one .wos-personal-information-row-one-text {
    grid-column: 1/2; }
    .profile-wos-personal-information-row-one .wos-personal-information-row-one-text p {
      text-align: justify; }
  .profile-wos-personal-information-row-one .wos-personal-information-row-one-img {
    grid-column: 2/3; }

.wos-profile-img-one, .wos-profile-img-two {
  width: 35rem; }

.profile-wos-personal-information-row-two .wos-personal-information-row-two-img {
  grid-column: 1/2; }
.profile-wos-personal-information-row-two .wos-personal-information-row-two-text {
  grid-column: 2/3; }
  .profile-wos-personal-information-row-two .wos-personal-information-row-two-text p {
    text-align: justify; }

/*estilos mobile wos*/
@media screen and (max-width: 995px) {
  .profile-wos-personal-information {
    padding: 5rem 3rem !important; }

  .profile-wos-title-text {
    background-image: url("../multimedia/wos-portada.webp");
    background-size: cover;
    background-attachment: none;
    height: 20rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: center; }
    .profile-wos-title-text h1 {
      color: #fff; }

  .wos-profile-img-one, .wos-profile-img-two {
    width: 80vw;
    display: flex;
    justify-content: center; }

  .profile-wos-personal-information h3 {
    text-align: center;
    color: #000; }

  .wos-personal-information-row-one-text {
    grid-column: 1/-1 !important; }

  .wos-personal-information-row-one-img {
    grid-column: 1/-1 !important;
    display: flex;
    justify-content: center; }

  .wos-personal-information-row-one-text {
    grid-column: 1/-1 !important; }

  .wos-personal-information-row-two-img {
    grid-column: 1/-1 !important;
    display: flex;
    justify-content: center;
    order: 2; }

  .wos-personal-information-row-two-text {
    grid-column: 1/-1 !important;
    order: 1; } }
/*fin estilos perfil wos*/

/*# sourceMappingURL=styles.css.map */
